django-cache==0.3
django-cid==2.3
django-cors-headers==3.12.0
django-environ==0.8.1
django-extensions==3.1.5
django-redis==5.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.1.0
idna==3.3
psycopg2-binary==2.9.3
PyJWT==2.4.0
redis==4.5.4
requests==2.27.1
ulid-py==1.1.0
urllib3==1.26.9
gunicorn==20.1.0
