django==4.2.7
django-cache==0.3
django-cid==2.3
django-cors-headers==3.12.0
django-environ==0.8.1
django-extensions==3.1.5
django-redis==5.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.1.0
openmeteo-requests==1.1.0
pandas==2.1.3
redis==4.5.4

